@font-face {
  font-family: 'DIN';
  src: local('DIN'), url(./fonts/DINRegular.ttf) format('truetype');
}

body {
  font-family: DIN, "Times New Roman";
}


h1 {
  font-size: xxx-large;
  text-align: center;
  color: #009fe3;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo_trombi {
  width: 108px;
  height: 108px;
  object-fit: cover;
  border:3px solid black;
}

.logo {
  max-width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.Person {
  text-align: center;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: small;
  flex : 1 1 300px;
}
