.photo_trombi {
  width: 108px;
  height: 108px;
  object-fit: cover;
  border: solid black 3px;
  margin-top : 10px;
  margin-bottom: 10px;
}

.logo {
  max-width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5%;
}

.Person {
  text-align: left;
}


.no-result {
  text-align: center;
  font-size: xxx-large;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: lightgrey;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: small;
  flex : 1 1 250px;
}

.icon_email {
  max-width: 25px;
  height: auto;
  margin-right: 10px;

}

.icon_phone {
  max-width: 20px;
  height: auto;
  margin-right: 10px;

}

.QRCode {
  margin-top: 15px;
  margin-bottom: 15px;
}

